body {background-color: rgb(212, 166, 249);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.2em;
line-height: 1.5;
max-width:1512px;
height:auto;
margin-left:auto;
margin-right:auto;}

#header {background-color:purple;
    max-width:1512px;
    height: 120px;}

header {box-shadow: 2px 2px 4px rgba(0,0,0.1);}
.grid-container {display: grid;
grid-template-rows: auto;
grid-template-columns:repeat(3, 1fr);
grid-column-gap: 2%;}

h1 { grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
text-shadow: 4px 4px 8px white;}

h2{grid-area:2/2/2/2;
margin-left: auto;
margin-right: auto;}

.info {grid-area:3/2/4/2;
text-align: center;
line-height: 1.6;}

.footer {grid-area:4/1/5/4;}
footer {background-color:purple;
    color:white;
     font-size: 0.8em;
text-align: center;}
